.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16rem;
  padding: 1rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 0.3s ease-in;
}
.contact-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 5px #00000040;
}
.c-content {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.2rem;
}
.c-icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 0;
  color: var(--blue-gradient);
}
.c-detail {
  display: flex;
  flex-direction: column;
}
.c-detail > :nth-child(1) {
  font-size: 1.1rem;
  font-weight: 600;
}

.c-detail > :nth-child(2) {
  color: #8c8b8b;
  font-size: 0.9rem;
}

.c-btn {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: #fff;
  background: var(--blue-gradient);
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .contact-card {
    width: 100%;
  }
}
